body {
    font-family: monospace;
    font-size: .9rem;
}

h1 {
    padding: .6em 1em;
}

h2 {
    border-bottom: none;
    background: transparent;
    padding: 0 1em;
}

.footer {
    border-top: none;
    border-image: none;
    margin-top: 10px;
}

input,
textarea {
    border-radius: 0;
    border: 1px solid #aaa;
    padding: 5px;
}

input#filter-field {
    width: 100%;
}

#menu {
    margin: 0;
    top: 0;
}

#menu h1 {
    border-top: none;
}

#lang {
    display: none;
}

.select2-container--default .select2-selection--single {
    border-radius: 0;
    background-color: transparent;
}

.js .checkable .checked td,
.js .checkable .checked th {
    background-color: #2c3f53;
}

tbody tr:hover td,
tbody tr:hover th {
    background-color: #353c438a;
}
