/*
FLAT UI Flavored Adminer Theme by M. Mahbubur Rahman (mahbub@mahbubblog.com)
Screenshot : http://pappu687.github.io/screenshots/adminer-screenshot.png
Based on work by : Lukáš Brandejs
https://raw.github.com/vrana/adminer/master/designs/ng9/adminer.css
*/

@import url(//fonts.googleapis.com/css?family=Roboto:400,700);


* {
	margin:0px;
	padding:0px;
}

body{
    font: 14px/1.7 "Roboto","Source Sans Pro","Droid Sans",Arial,Helvetica, sans-serif;
    background-image: url('adminer-bg.png');
}

a, a:visited {
	color:#2980b9;
	text-decoration:none;
	padding:3px 1px;
}

/* remove the annoying glow over inputs field */
textarea, input { outline: none; }

#dbs span{
	/*color:white;*/
}

#content table thead span, #content table thead a {
	font-weight:bold;
	color:#FFF;
	text-shadow:0px 01px 0px #000;
}

#content table thead span {
	background-color: #34495e;
}

#content table thead a:hover {
	background:none;
	text-decoration:underline;
	color:black;
}

pre.sqlarea{
	background: white;
}
pre.sqlarea span,pre.sqlarea span{
	font-family: Inconsolata;
	font-size: 18px;
}

a:hover {
	text-decoration:underline;
}

h1 {
	font-size:1.9em;
	font-weight:normal;
	background:white;
	color:#1e5eb6;
	border-bottom:1px solid rgb(85, 112, 139);
	padding:20px;
	margin:0px;
}

#menu h1 {
	padding:0px 0px 5px 0px;
	background:none;
}
#menu p.links{
	padding-left: 0
}
p#tables{
	padding-left: 0
}

h2,h3 {
	font-size:1.7em;
	font-weight:bold;
	background:transparent;
	color:#34495e;
	border-bottom:1px solid #c0c0c0;
	padding:10px 0px;
	margin:0px;
}

fieldset {
	padding: 10px;
	border:1px solid #ccc;
	border-radius: 4px;
}

input,
textarea{
    padding: 5px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

input[type=submit] {
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 700;
  /*margin-top: 10px;*/
  padding: 5px 10px;
  text-transform: none;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  background: none repeat scroll 0 0 #2DB6CF;
  color: #FFFFFF;
  text-align: center;
  /* DELETE WHEN WIDTH AUTO */
}

textarea{
    min-height: 80px;
}

select{
	padding:7px 4px;
	background-color:#FFFFFF;
    min-width: 150px;
}

input[type=submit]:hover{
	background: none repeat scroll 0 0 #999999;
    color: #FFFFFF;
}

input[type=checkbox]{
	margin-right:5px;
}

input[type=image] {
	border:0
}
.icon{
	padding:0;
	background-color: #797979;
}

input[type=checkbox],input[type=radio]{
	border:1px solid #e5e5e5;
	padding:2px 5px;
    margin: 7px 3px 7px 11px;
}

code{
	background:#f0ffe1;
	border:1px dashed #d5f1b9;
	padding:2px 4px;
	font-family:"Monaco","Courier New";
}
code a:hover{background:transparent}

table{
    position: relative;
    padding: 20px;
	margin:10px 0px;
    border: 1px solid #f7f3f3;
    background-color: #FFFFFF;
    border-radius: 5px;
}

tbody tr:hover td,tbody tr:hover th{
	background:#edf4ff
}

thead th, thead td {
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
	white-space:nowrap;
	border-right:1px solid #34495e;
	background:#34495e;
	color:#FFFFFF!important;
	padding-right:10px;
}
thead th acronym, thead td acronym, thead th sup, thead td sup{
	color:#CCDDFF;
}

th,td{
	border:1px solid rgba(233,233,233,.3);
	padding:3px 6px;
	vertical-align:top;
}

th a {
	font-weight:bold;
	padding-bottom:0px;
	text-shadow:1px 1px 1px #FFF;
}

th {
	background:white;
}

tr.odd td {
	background:#fcfaf5;
}

#content tbody tr.checked td, tr.checked.odd td {
	background:#fbe2e2;
	color:red;
}

.hidden{
	display:none
}

.error,.message{
	padding:0px;
	background:transparent;
	font-weight:bold
}

.error{
	color:#c00
}

.message{
	color:#090
}

#content{
	margin:0px 0px 0px 320px;
	padding:50px 20px 40px 0px;
	height:100%;
}

#lang {
	background:#48A5BF;
	color:#FFFFFF;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	padding:10px 20px;
	z-index:1;
}

#lang select{
	width:178px;
	padding: 5px 4px;
}

#breadcrumb {
	position:fixed;
	top:0px;
	left:300px;
	background:#48A5BF;
	z-index:2;
	width:100%;
	color:#ecf0f1;
	padding:10px;
	font-size:15px;
	font-weight:bold;
}
#breadcrumb a{
	color:#ecf0f1;
	font-size:15px;
	font-weight:bold;
}

#menu {
	background:#34495e;
	position:fixed;
	top:0px;
	color:#FFF;
	padding:20px;
	padding-top:40px;
	bottom:0px;
	overflow:auto;
	left:0px;
    margin: 0!important;
	width:240px;
	border-right:2px solid #34495e;
}

#menu p{
	border-bottom:1px solid rgb(85, 112, 139);
}

#menu a {
    color: #fff;
}

#schema .table {
	padding:5px;
	background:#fcfaf5;
	border:1px solid #d0cdc4;
}

#schema .table b {
	color:#006aeb;
	font-weight:bold;
	text-decoration:underline;
}

#schema .table b:hover {
	color:white;
}

input[name=logout] {
	color:#fce2e2;
	background:#d73e3e;
}

input[name=drop] {
	background-color:#c0392b;
}

input[name=logout]:hover {
	background:#ea0202;
}

#logins a, #tables a {
	background:none;
}

#logins a:hover, #tables a:hover {

}

#logout {
	color:#FFF;
	text-decoration:none;
	z-index:2;
}

#logout:hover {
	color:red;
}

.js .column {
	background:#ecf0f1;
}

#content table thead a.text:hover {
	text-decoration:none;
}

#version, .version {
	font-size:50%;
}

#h1 { font-size: .8em; }
#h1:hover {
	color:white;
}
span.version { color: #48a5bf; }

input[type=submit]:active {
	position:relative;
	top:1px;
}

legend {
    padding: 0 5px;
}

i {
	font-style: italic;
	color: white;
    font-weight: bold;
    background-color: #48a5bf;
    padding: 3px;
    border-radius: 2px;
	font-size: 90%;
	font-family: monospace;
	border: 1px silver solid;
}

p#dbs select {
	width: 100%;
}

p#dbs br {
	display: none;
}

p#dbs {
	color: white;   padding: 0;
}

.pages {
    color: #fff;
    background: #34495e;
    border: 1px solid #5c85af;
    padding: 5px 20px;
}
.pages a {
    font-weight: bold;
    color: white;
}

span > a.select-text { font-weight: bold; }

#logins a, #tables a, #tables span {
    background: none;
}

.select2-container .select2-selection--single { height: 32px; }

/* customize the scrollbar */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}