<?php

/**
* List here all your private DB servers.
*
* Create a PHP file servers.php inside this directory with this content.
* Adapt to add some of your local/remote DB servers like examples below
*/
class DbServers
{
    public static $servers = array(
        'sqlite' => [
            'server' => '/app/foo/bar/var/cache/test/test.db',
            'driver' => 'sqlite',
        ],
        'mysql' => [
            // ip or hostname => description
            'db:3306' => 'localhost',
            // remote server
            '127.0.0.1' => 'my remote server',
            'foo.bar.baz' => 'project_1',
        ],
        'mongodb' => [
            'mongodb:27017' => 'mongodb/localhost'
        ],
        'postgresql' => [
            'postgres:5432' => 'postgres/localhost',
        ],
    );
}
